@import './fonts/stylesheet.css';

html {
    font-size: 62.5%; /* set the base to 10 px */
    --main-txt-color: #262626;
    color: var(--main-txt-color);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', serif;
}
